html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #6F2C3E , #7D7D7D);
    font-family: "Roboto", sans-serif;
}

.button {
    width: 25vw;
    height: 25vh;
    min-height: 40px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction:column; /* column | row */
    font-size: 2em;
    color: #FE9748;
}

#loadCannon, #shootCannon, #vibrate, #shield {
    border: 1px solid #FE9748;
    border-radius: 10px;
}

#loadCannon.cooldown, #shootCannon.cooldown, #shield.cooldown {
    background-color: grey;
}

/** legacy buttons **/
#teamA {
  border: 4px solid green;
  color: white;
  background: rgba(0,255,0,0.2);
}

#teamB {
  border: 4px solid red;
  background: rgba(255,0,0,0.2);
  color: white;
}

.grad-left {
  background: linear-gradient(to right, #C93058 , #FE9748);
}

.grad-right {
  background: linear-gradient(to right, #FE9748, #C93058);
}

.big {
  color: white;
}

.large {
  width: 40vw;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttons > div {
  margin: 1vh;
}

#header {
  height: 40vh;
  color: white;
}

#title {
  font-size: 5em;
  color: white;
  height: 100%;
  font-weight: 100;
}

.subtitle {
  font-size: 0.5em;
}

.v-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; /* column | row */
}
