body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.button {
    width: 150px;
    height: 50px;
    margin-top: 20vh;
    display: inline-block;
    margin: 20vh auto;
}

#increment {
    background-color: green;
    border: 3px solid black;
}

#decrement {
    background-color: red;
    border: 3px solid black;
}
