body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.button {
    width: 40vw;
    height: 25vh;
    min-height: 40px;
    display: inline-block;
    margin: 0 5vw;
}

#increment {
    background-color: green;
    border: 3px solid black;
}

#decrement {
    background-color: red;
    border: 3px solid black;
}
